# with the venv active use
# pip install -r requirements.txt
# to install the following required packages
datetime

flask

flask_cors

requests

flask_sqlalchemy

sqlalchemy

Flask-Migrate

email_validator

dotenv

pytest